@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Montserrat:wght@500;600&family=Noto+Sans:wght@500&family=Poppins:wght@400;500&family=Roboto:wght@400;500&family=IBM+Plex+Mono:wght@300;400;500&display=swap');
*{
    margin: 0;
    padding: 0;
    border: none;
    transition: 0s;
    transition-delay: 0s;
    box-sizing: border-box;
    background-color: transparent;
    font: 400 14px Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    font-family: roboto,"Noto Sans Myanmar UI",arial,sans-serif;
}
:root{
    --color: #fff;
    --transition: .3s;
    --error: #d93025;
    --no-error: #1A73E8;
    --border-color: #dadce0;
}
button{
    cursor: pointer;
}
.btn{
    outline-color: #1c5fba;
    outline-offset: 2px;
}
.singleBtns{
    text-align: left;
}
.transparentBtns{
    color: var(--no-error);
}
.transparentBtns:focus{
    color: #2e60b0;
}
body{
    width: 100%;
    color: #202124;
    min-height: 100vh;
}
.bgCover{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color);
}
.wide{
    width: 100%;
    padding: 30px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--color);
}
.container{
    width: 450px;
    overflow: hidden;
    min-height: 502px;
    border-radius: 8px;
    position: relative;
    border: 1px solid var(--border-color);
    background-color: var(--color);
}
.mainContainer{
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding: 45px 0px 32px 0px;
    background-color: var(--color);
}

/* Top header Section */
.header{
    width: 100%;
    text-align: center;
    padding: 0 40px 5px 40px;
}
.boldSec{
    padding-top: 11px;
}
.bold{
    display: block;
    font-size: 24px;
    font-weight: 400;
    word-break: break-word;
    line-height: 1.3333;
    font-family: "Google Sans","Noto Sans Myanmar UI",arial,sans-serif;
}
.boldB{
    text-transform: capitalize;
}
.boldB,.boldC,.boldE{
    display: none;
}
.legSec{
    padding-top: 8px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.leg{
    display: block;
    font-size: 16px;
    font-weight: 400;
    padding: 0 0 8px 0;
    letter-spacing: .1px;
    line-height: 1.5;
}
.legC,.legE{
    display: none;
}

/* User id Section B */
.userIdSec{
    width: 100%;
    display: none;
    user-select: none;
    align-items: center;
    justify-content: center;
}
.userIdSecIn{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.userIdBox{
    height: 32px;
    padding: 0 7px 0 5px;
    display: flex;
    direction: ltr;
    max-width: 100%;
    text-align: left;
    border: 1px solid;
    align-items: center;
    border-radius: 16px;
    justify-content: left;
    border-color: var(--border-color);
}
.userIdBox:hover{
    background-color: #f7f8f8;
}
.userIdBox:focus{
    background-color: #d2d4d4;
    border-color: #3c4043;
}
.userPicSec{
    margin-right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.userPic{
    width: 20px;
    height: 20px;
    display: flex;
    color: #fff;
    font-size: .8rem;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    background-color: #ff178b;
}
.userId{
    font-size: 14px;
    color: #3c4043;
    font-weight: 500;
    text-align: left;
    overflow: hidden;
    margin-bottom: 2px;
    white-space: nowrap;
    letter-spacing: .25px;
    text-overflow: ellipsis;
    font-family: 'Inter',sans-serif;
}
.airo{
    display: flex;
    flex-shrink: 0;
    margin-left: 2px;
    align-items: center;
    justify-content: center;
}

/* Slider Sections */
.sliderSec{
    width: 100%;
    height: 100%;
    display: flex;
    background-color: var(--color);
}
.section{
    min-width: 100%;
    display: flex;
    overflow: hidden;
    align-items: flex-start;
    justify-content: center;
    padding: 0px 30px 30px 30px;
    transition-duration: var(--transition), 0s;
    transition-delay: 0s, var(--transition);
    background-color: var(--color);
    transition-property: margin, visibility;
}
.sectionA{
    margin-left: 0;
    padding-top: 14px;
    visibility: visible;
}
.sectionB{
    padding-top: 62px;
    padding-bottom: 52px;
    visibility: hidden;
}
.sectionC,
.sectionD,
.sectionE{
    padding-top: 15px;
    visibility: hidden;
}
.skinSec{
    width: 100%;
}
.center{
    padding: 0 10px;
}
.centerEheadUp{
    overflow: auto;
    width: auto;
    font-weight: 400;
    font-size: 1rem;
    font-family: 'IBM Plex Mono', monospace;
}
.failed{
    padding: 16px;
    display: none;
    margin-bottom: 10px;
    border-radius: 8px;
    background-color: #fef7e0;
}
.failedUp{
    display: flex;
    align-items: center;
    justify-content: left;
}
.d7Plee{
    color: #ea8600;
}
.failedUpTxt{
    margin: 0 0 2px 15px;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: .1px;
}
.failedTxt{
    margin: 9px 0 13px 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.4286;
    font-family: roboto,"Noto Sans Myanmar UI",arial,sans-serif;
}
.failedRetry{
    display: inline-block;
    font-weight: 500;
    letter-spacing: .25px;
    padding: 0 3px;
    font-size: inherit;
    text-align: left;
    margin-left: -3px;
    color: var(--no-error);
}
.failedRetry:focus{
    color: #2e60b0;
    border-radius: 4px;
    background-color: #c4dbf1;
}
.formBlurSec{
    position: relative;
}
.formBlur{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: none;
    background-color: #ffffff5b;
}

/* Input feild Section */
.codeOnInp{
    display: flex;
}
.ins{
    display: flex;
}
.country{
    height: 56px;
    margin-top: 6px;
    cursor: pointer;
    border-radius: 4px;
    outline-offset: -2px;
    outline: 2px solid transparent;
}
.country:focus{
    outline-color: var(--no-error);
}
.country:focus > .flag > .countryCode{
    color: var(--no-error);
}
.flag{
    padding: 0px 15px 0 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.countryCode{
    color: #202124;
    font-weight: 400;
    margin: 0px 0 0 10px;
}
.inpOnError{
    width: 100%;
}
.inputFeildSec{
    width: 100%;
    overflow: hidden;
    padding-top: 6px;
    position: relative;
}
.inputFeild{
    width: 100%;
    height: 56px;
    font-size: 16px;
    color: #202124;
    font-weight: 400;
    border: 1px solid;
    padding: 13px 15px;
    border-radius: 4px;
    border-color: var(--border-color);
    transition: .01s outline ease-out;
    transition-delay: .06s;
    background-color: var(--color);
    font: 400 16px Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
}
.inputFeildError{
    border-color: var(--error);
}
.inputFeild:focus{
    outline: 2px solid;
    outline-offset: -2px;
    outline-color: var(--no-error);
}
.inputFeildError:focus{
    outline-color: var(--error);
}
.inputLabel{
    position: absolute;
    top: 25px;
    left: 10px;
    padding: 0 6px;
    font-size: 16px;
    overflow: hidden;
    font-weight: 400;
    color: #5f6368;
    user-select: none;
    white-space: nowrap;
    pointer-events: none;
    text-overflow: ellipsis;
    transition-duration: .14s;
    background-color: var(--color);
    transition-property: top, left, font-size;
}
.inputFeild:not(:placeholder-shown) ~ .inputLabel,
.inputFeild:focus ~ .inputLabel{
    top: 1px;
    left: 8px;
    font-size: 12px;
    transition-duration: .14s;
    font-weight: 400;
}
.inputFeild:focus ~ .inputLabel{
    top: 0px;
    color: var(--no-error);
}
.inputFeildError:focus ~ .inputLabel,
.inputFeildError:not(:placeholder-shown) ~ .inputLabel{
    color: var(--error);
}
.inputFeild:not(:placeholder-shown) ~ .inputLabel{
    transition: 0s;
}

/* Input error Section */
.hiddenErrorSec{
    display: none;
}
.errorSec{
    height: auto;
    display: flex;
    margin-top: 4px;
    text-align: left;
    user-select: none;
    justify-content: left;
}
.errorMarkSec{
    display: flex;
    align-items: flex-start;
    justify-content: center;
}
.errorMark{
    fill: var(--error);
}
.error{
    margin: 2px 0 0 8px;
    font-size: 12px;
    font-weight: 400;
    color: var(--error);
}

/* Forgot email section */
.frgtEmailSec{
    margin-top: 9px;
    text-align: left;
}
.frgtEmail{
    margin: -1px -3px;
    font-size: 14px;
    font-weight: 500;
    padding: 2px 3px;
    border-radius: 2px;
    display: inline-block;
    letter-spacing: .25px;
    color: var(--no-error);
}
.frgtEmail:focus{
    background-color: #d7e8ff;
}
.spaceParaUp{
    height: 45px;
}
.paraSec{
    text-align: left;
}
.para{
    color: #5f6368;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.4286;
}
.learnMore{
    margin: 0 -3px;
    font-size: 14px;
    font-weight: 500;
    padding: 1px 3px;
    border-radius: 2px;
    display: inline-block;
    letter-spacing: .25px;
    text-decoration: none;
    color: var(--no-error);
}
.learnMore:focus{
    background-color: #d7e8ff;
}

/* Button section */
.spaceBtnUpA{
    height: 41px;
}
.spaceBtnUpB{
    height: 44px;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
.mainBtnSec{
    width: 100%;
}
.btnSecOut{
    width: 100%;
    height: auto;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    align-items: center;
    padding-right: 10px;
    padding-left: 2px;
    justify-content: left;
}
.btnSec{
    width: 60%;
    display: flex;
    overflow: visible;
    align-items: center;
    justify-content: left;
}
.sbmtBtnSec{
    width: 40%;
    justify-content: right;
}
.mainBtns{
    height: 36px;
    display: flex;
    padding: 0 8px;
    font-size: 1rem;
    font-weight: 500;
    user-select: none;
    border-radius: 4px;
    align-items: center;
    letter-spacing: .2px;
    line-height: inherit;
    text-transform: none;
    display: inline-block;
    vertical-align: middle;
    justify-content: center;
    letter-spacing: .0107142857em;
    font-family: "Google Sans",Roboto,Arial,sans-serif;
}
.sbmtBtnDDisabled:disabled,
.sbmtBtnDDisabled:disabled:hover,
.sbmtBtnDDisabled:disabled:focus,
.sbmtBtnDDisabled:disabled:active{
    color: #777;
    box-shadow: none;
    background-color: #ddd;
}
.rowBtnD{
    z-index: 1;
    pointer-events: all;
}
.rowBtn:hover{
    color: #2e60b0;
    background-color: #f6fafe;
}
.activeRowBtnA,
.activeRowBtnA:hover,
.rowBtn:focus{
    color: #2e60b0;
    background-color: #e3eefc;
}
.activeRowBtnA{
    transition-delay: .14s;
    transition-property: background;
}
.rowBtn:active{
    background-color: #cbe3ff;
}
.sbmtBtn{
    color: #fff;
    padding: 0 24px;
    box-shadow: none;
    background-color: var(--no-error);
    transition: border .28s cubic-bezier(.4,0,.2,1),box-shadow .28s cubic-bezier(.4,0,.2,1);
}
.sbmtBtn:hover{
    background: #1b66ca;
    box-shadow: 0 1px 3px #999;
}
.sbmtBtn:focus{
    background-color: #1c5fba;
}
.sbmtBtn:active{
    box-shadow: 0 1px 3px #999;
    background-color: #154a8f;
}
.padSec{
    position: absolute;
    top: 0px;
    left: 2px;
    width: 100%;
    min-width: 100px;
    background-color: var(--color);
}
.pad{
    position: absolute;
    left: 0px;
    bottom: 0px;
	z-index: 1;
	padding: 8px 0px;
	overflow: hidden;
	border-radius: 4px;
    visibility: hidden;
	box-shadow: 0 4px 10px #aaa;
    transform: scale(0.9);
    transform-origin: left bottom;
	transition-duration: 0s, .14s;
    background-color: var(--color);
    transition-delay: .06s, 0s;
    transition-property: visibility, transform;
}
.options{
    width: 100%;
    cursor: pointer;
	text-align: left;
	overflow: hidden;
    user-select: none;
	white-space: nowrap;
    list-style-type: none;
	text-overflow: ellipsis;
	font-family: Roboto,Arial,sans-serif;
    line-height: 1.5rem;
    padding: 13px 16px 13px 16px;
}
.options span{
	font-size: 16px;
    font-weight: 400;
	letter-spacing: .00625em;
}
.options:hover{
    background-color: #f5f5f5;
}
.options:active{
    background-color: #d8d8d8;
}
.activePad{
    visibility: visible;
    transform: scale(1);
    transition-delay: .14s;
}


/* Change Sections via Inputs checking */
input[type="radio"]{
    display: none;
    position: absolute;
}

/* Section A */
.secA:checked ~ .header > .boldSec > h1 > .boldA,
.secA:checked ~ .header > .legSec > .legA{
    display: block;
}
.secA:checked ~ .header > .boldSec > h1 > .boldB,
.secA:checked ~ .header > .boldSec > h1 > .boldC, 
.secA:checked ~ .header > .boldSec > h1 > .boldE, 
.secA:checked ~ .header > .legSec > .userIdSec,
.secA:checked ~ .header > .legSec > .legC,
.secA:checked ~ .header > .legSec > .legE{
    display: none;
}
.secA:checked ~ .sliderSec > .sectionA{
    margin-left: 0%;
    height: auto;
    visibility: visible;
    transition-delay: 0s;
}
.secA:checked ~ .sliderSec > .sectionB,
.secA:checked ~ .sliderSec > .sectionC,
.secA:checked ~ .sliderSec > .sectionD,
.secA:checked ~ .sliderSec > .sectionE{
    visibility: hidden;
    transition-delay: 0s, var(--transition);
}

/* Section B */
.secB:checked ~ .header > .boldSec > h1 > .boldA,
.secB:checked ~ .header > .boldSec > h1 > .boldC,
.secB:checked ~ .header > .boldSec > h1 > .boldE,
.secB:checked ~ .header > .legSec > .legA,
.secB:checked ~ .header > .legSec > .legC,
.secB:checked ~ .header > .legSec > .legE{
    display: none;
}
.secB:checked ~ .header > .boldSec > h1 > .boldB,
.secB:checked ~ .header > .legSec > .userIdSec{
    display: block;
}
.secB:checked ~ .sliderSec > .sectionA{
    margin-left: -100%;
}
.secB:checked ~ .sliderSec > .sectionB{
    visibility: visible;
    transition-delay: 0s;
}
.secB:checked ~ .sliderSec > .sectionA,
.secB:checked ~ .sliderSec > .sectionC,
.secB:checked ~ .sliderSec > .sectionD,
.secB:checked ~ .sliderSec > .sectionE{
    visibility: hidden;
    transition-delay: 0s, var(--transition);
}

/* Section C */
.secC:checked ~ .header > .boldSec > h1 > .boldA,
.secC:checked ~ .header > .boldSec > h1 > .boldB,
.secC:checked ~ .header > .boldSec > h1 > .boldE,
.secC:checked ~ .header > .legSec > .legA,
.secC:checked ~ .header > .legSec > .legE{
    display: none;
}
.secC:checked ~ .header > .boldSec > h1 > .boldC,
.secC:checked ~ .header > .legSec > .userIdSec,
.secC:checked ~ .header > .legSec > .legC{
    display: block;
}
.secC:checked ~ .sliderSec > .sectionA{
    margin-left: -200%;
}
.secC:checked ~ .sliderSec > .sectionC{
    visibility: visible;
    transition-delay: 0s;
}
.secC:checked ~ .sliderSec > .sectionA,
.secC:checked ~ .sliderSec > .sectionB,
.secC:checked ~ .sliderSec > .sectionD,
.secC:checked ~ .sliderSec > .sectionE{
    visibility: hidden;
    transition-delay: 0s, var(--transition);
}

/* Section D */
.secD:checked ~ .header > .boldSec > h1 > .boldA,
.secD:checked ~ .header > .boldSec > h1 > .boldB,
.secD:checked ~ .header > .boldSec > h1 > .boldE,
.secD:checked ~ .header > .legSec > .legA,
.secD:checked ~ .header > .legSec > .legE{
    display: none;
}
.secD:checked ~ .header > .boldSec > h1 > .boldC,
.secD:checked ~ .header > .legSec > .userIdSec,
.secD:checked ~ .header > .legSec > .legC{
    display: block;
}
.secD:checked ~ .sliderSec > .sectionA{
    margin-left: -300%;
}
.secD:checked ~ .sliderSec > .sectionD{
    visibility: visible;
    transition-delay: 0s;
}
.secD:checked ~ .sliderSec > .sectionA,
.secD:checked ~ .sliderSec > .sectionB,
.secD:checked ~ .sliderSec > .sectionC,
.secD:checked ~ .sliderSec > .sectionE{
    visibility: hidden;
    transition-delay: 0s, var(--transition);
}

/* Section E */
.secE:checked ~ .header > .boldSec > h1 > .boldA,
.secE:checked ~ .header > .boldSec > h1 > .boldB,
.secE:checked ~ .header > .boldSec > h1 > .boldC,
.secE:checked ~ .header > .legSec > .userIdSec,
.secE:checked ~ .header > .legSec > .legA,
.secE:checked ~ .header > .legSec > .legC{
    display: none;
}
.secE:checked ~ .header > .boldSec > h1 > .boldE,
.secE:checked ~ .header > .legSec > .legE{
    display: block;
}
.secE:checked ~ .sliderSec > .sectionA{
    margin-left: -400%;
}
.secE:checked ~ .sliderSec > .sectionE{
    visibility: visible;
    transition-delay: 0s;
}
.secE:checked ~ .sliderSec > .sectionA,
.secE:checked ~ .sliderSec > .sectionB,
.secE:checked ~ .sliderSec > .sectionC,
.secE:checked ~ .sliderSec > .sectionD{
    visibility: hidden;
    transition-delay: 0s, var(--transition);
}

/* Loading animation section */
.loader{
    max-width: 100%;
    overflow: hidden;
}
.blurCover{
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    background-color: #ffffff5b;
    backdrop-filter: blur(.1px) saturate(100%);
}
.track{
    position: relative;
    width: 100%;
    height: 4px;
    z-index: 1;
    overflow: hidden;
}
.track.active{
    background-color: var(--border-color);
}
.slider::before, .slider::after{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    bottom: 0;
    background-color: var(--no-error);
}
.slider::before{
    animation: sliderA 2.1s cubic-bezier(0.65,0.81,0.71,0.4) infinite;
}
.slider::after{
    animation: sliderB 2.1s cubic-bezier(0.16,0.84,0.44,1) infinite;
    animation-delay: 1.15s;
}

/* Loading animation media query */
@keyframes sliderA{
    0%{
        left: -35%;
        right: 100%;
    }
    60%,
    100%{
        left: 100%;
        right: -90%;
    }
}
@keyframes sliderB{
    0%{
        left: -200%;
        right: 100%;
    }
    60%,
    100%{
        left: 107%;
        right: -8%;
    }
}

/* Button flex media query */
@media (max-width: 230px){
    .btnSecOut{
        padding: 0;
    }
    .pad{
        transform-origin: center bottom;
    }
    .btnSec{
        width: 100%;
        justify-content: center;
    }
    .spaceBtweenBtn{
        height: 30px;
        width: 100%;
    }
}


/* Divs responsive media query */
@media (max-width: 600px){
    .wide{
        min-height: 100vh;
        padding: 0;
    }
    .track{
        position: fixed;
    }
    .container{
        min-height: 100vh;
        width: 100%;
        border: none;
        border-radius: 0;
    }
}
@media (max-width: 449px){
    .mainContainer{
        padding: 30px 0;
    }
    .header{
        padding: 0 24px;
    }
    .section{
        padding-left: 14px;
        padding-right: 14px;
    }
}

.VfPpkd-MPu53c{padding:11px;padding:calc((var(--mdc-checkbox-ripple-size, 40px) - 18px)/2);margin:0;margin:calc((var(--mdc-checkbox-touch-target-size, 40px) - 40px)/2)}.VfPpkd-MPu53c .VfPpkd-OYHm6b::before,.VfPpkd-MPu53c .VfPpkd-OYHm6b::after{background-color:#000;background-color:var(--mdc-ripple-color,#000)}.VfPpkd-MPu53c:hover .VfPpkd-OYHm6b::before,.VfPpkd-MPu53c.VfPpkd-ksKsZd-XxIAqe-OWXEXe-ZmdkE .VfPpkd-OYHm6b::before{opacity:.04;opacity:var(--mdc-ripple-hover-opacity,.04)}.VfPpkd-MPu53c.VfPpkd-ksKsZd-mWPk3d-OWXEXe-AHe6Kc-XpnDCe .VfPpkd-OYHm6b::before,.VfPpkd-MPu53c:not(.VfPpkd-ksKsZd-mWPk3d):focus .VfPpkd-OYHm6b::before{-webkit-transition-duration:75ms;transition-duration:75ms;opacity:.12;opacity:var(--mdc-ripple-focus-opacity,.12)}.VfPpkd-MPu53c:not(.VfPpkd-ksKsZd-mWPk3d) .VfPpkd-OYHm6b::after{-webkit-transition:opacity .15s linear;transition:opacity .15s linear}.VfPpkd-MPu53c:not(.VfPpkd-ksKsZd-mWPk3d):active .VfPpkd-OYHm6b::after{-webkit-transition-duration:75ms;transition-duration:75ms;opacity:.12;opacity:var(--mdc-ripple-press-opacity,.12)}.VfPpkd-MPu53c.VfPpkd-ksKsZd-mWPk3d{--mdc-ripple-fg-opacity:var(--mdc-ripple-press-opacity,0.12)}
.VfPpkd-MPu53c .VfPpkd-OYHm6b::before,.VfPpkd-MPu53c .VfPpkd-OYHm6b::after{background-color:#018786;background-color:var(--mdc-ripple-color,var(--mdc-theme-secondary,#018786))}.VfPpkd-MPu53c:hover .VfPpkd-OYHm6b::before,.VfPpkd-MPu53c .VfPpkd-OYHm6b::before{opacity:.04;opacity:var(--mdc-ripple-hover-opacity,.04)}.VfPpkd-MPu53c .VfPpkd-OYHm6b::before,.VfPpkd-MPu53c:not:focus .VfPpkd-OYHm6b::before{-webkit-transition-duration:75ms;transition-duration:75ms;opacity:.12;opacity:var(--mdc-ripple-focus-opacity,.12)}.VfPpkd-MPu53c .VfPpkd-OYHm6b::after{-webkit-transition:opacity .15s linear;transition:opacity .15s linear}.VfPpkd-MPu53c .VfPpkd-OYHm6b::after{-webkit-transition-duration:75ms;transition-duration:75ms;opacity:.12;opacity:var(--mdc-ripple-press-opacity,.12)}.VfPpkd-MPu53c{--mdc-ripple-fg-opacity:var(--mdc-ripple-press-opacity,0.12)}.VfPpkd-OYHm6b::before,.VfPpkd-MPu53c.VfPpkd-ksKsZd-mWPk3d-OWXEXe-AHe6Kc-XpnDCe.VfPpkd-OYHm6b::after{background-color:#018786;background-color:var(--mdc-ripple-color,var(--mdc-theme-secondary,#018786))}.VfPpkd-MPu53c .VfPpkd-YQoJzd{top:11px;top:calc((var(--mdc-checkbox-ripple-size, 40px) - 18px)/2);left:11px;left:calc((var(--mdc-checkbox-ripple-size, 40px) - 18px)/2)}.VfPpkd-MPu53c .VfPpkd-muHVFf-bMcfAe{top:0;top:calc((40px - var(--mdc-checkbox-touch-target-size, 40px))/2);right:0;right:calc((40px - var(--mdc-checkbox-touch-target-size, 40px))/2);left:0;left:calc((40px - var(--mdc-checkbox-touch-target-size, 40px))/2);width:40px;width:var(--mdc-checkbox-touch-target-size,40px);height:40px;height:var(--mdc-checkbox-touch-target-size,40px)}.VfPpkd-MPu53c .VfPpkd-muHVFf-bMcfAe:enabled:not(:checked):not(:indeterminate):not([data-indeterminate=true])~.VfPpkd-YQoJzd{border-color:rgba(0,0,0,.54);border-color:var(--mdc-checkbox-unchecked-color,rgba(0,0,0,.54));background-color:transparent}.VfPpkd-MPu53c .VfPpkd-muHVFf-bMcfAe:enabled:checked~.VfPpkd-YQoJzd,.VfPpkd-MPu53c .VfPpkd-muHVFf-bMcfAe:enabled:indeterminate~.VfPpkd-YQoJzd,.VfPpkd-MPu53c .VfPpkd-muHVFf-bMcfAe[data-indeterminate=true]:enabled~.VfPpkd-YQoJzd{border-color:#018786;border-color:var(--mdc-checkbox-checked-color,var(--mdc-theme-secondary,#018786));background-color:#018786;background-color:var(--mdc-checkbox-checked-color,var(--mdc-theme-secondary,#018786))}
.VfPpkd-MPu53c{display:inline-block;position:relative;-webkit-box-flex:0;-webkit-flex:0 0 18px;flex:0 0 18px;box-sizing:content-box;width:18px;height:18px;line-height:0;white-space:nowrap;cursor:pointer;vertical-align:bottom}.VfPpkd-MPu53c[hidden]{display:none}.VfPpkd-MPu53c.VfPpkd-ksKsZd-mWPk3d-OWXEXe-AHe6Kc-XpnDCe .VfPpkd-sMek6-LhBDec,.VfPpkd-MPu53c:not(.VfPpkd-ksKsZd-mWPk3d):focus .VfPpkd-sMek6-LhBDec{pointer-events:none;border:2px solid transparent;border-radius:6px;box-sizing:content-box;position:absolute;top:50%;left:50%;-webkit-transform:translate(-50%,-50%);transform:translate(-50%,-50%);height:100%;width:100%}@media screen and (forced-colors:active){.VfPpkd-MPu53c.VfPpkd-ksKsZd-mWPk3d-OWXEXe-AHe6Kc-XpnDCe .VfPpkd-sMek6-LhBDec,.VfPpkd-MPu53c:not(.VfPpkd-ksKsZd-mWPk3d):focus .VfPpkd-sMek6-LhBDec{border-color:CanvasText}}.VfPpkd-MPu53c.VfPpkd-ksKsZd-mWPk3d-OWXEXe-AHe6Kc-XpnDCe .VfPpkd-sMek6-LhBDec::after,.VfPpkd-MPu53c:not(.VfPpkd-ksKsZd-mWPk3d):focus .VfPpkd-sMek6-LhBDec::after{content:"";border:2px solid transparent;border-radius:8px;display:block;position:absolute;top:50%;left:50%;-webkit-transform:translate(-50%,-50%);transform:translate(-50%,-50%);height:calc(100% + 4px);width:calc(100% + 4px)}@media screen and (forced-colors:active){.VfPpkd-MPu53c.VfPpkd-ksKsZd-mWPk3d-OWXEXe-AHe6Kc-XpnDCe .VfPpkd-sMek6-LhBDec::after,.VfPpkd-MPu53c:not(.VfPpkd-ksKsZd-mWPk3d):focus .VfPpkd-sMek6-LhBDec::after{border-color:CanvasText}}@media (-ms-high-contrast:none){.VfPpkd-MPu53c .VfPpkd-sMek6-LhBDec{display:none}}@media (-ms-high-contrast:active),screen and (forced-colors:active){.VfPpkd-SJnn3d{margin:0 1px}}.VfPpkd-MPu53c-OWXEXe-OWB6Me{cursor:default;pointer-events:none}
.VfPpkd-MPu53c.VfPpkd-MPu53c-OWXEXe-mWPk3d .VfPpkd-YQoJzd,.VfPpkd-MPu53c.VfPpkd-MPu53c-OWXEXe-mWPk3d .VfPpkd-HUofsb,.VfPpkd-MPu53c.VfPpkd-MPu53c-OWXEXe-mWPk3d .VfPpkd-HUofsb-Jt5cK,.VfPpkd-MPu53c.VfPpkd-MPu53c-OWXEXe-mWPk3d .VfPpkd-SJnn3d{-webkit-transition:none;transition:none}.VfPpkd-MPu53c{--mdc-ripple-fg-size:0;--mdc-ripple-left:0;--mdc-ripple-top:0;--mdc-ripple-fg-scale:1;--mdc-ripple-fg-translate-end:0;--mdc-ripple-fg-translate-start:0;-webkit-tap-highlight-color:rgba(0,0,0,0);will-change:transform,opacity}.VfPpkd-MPu53c .VfPpkd-OYHm6b::before,.VfPpkd-MPu53c .VfPpkd-OYHm6b::after{position:absolute;border-radius:50%;opacity:0;pointer-events:none;content:""}.VfPpkd-MPu53c .VfPpkd-OYHm6b::before{-webkit-transition:opacity 15ms linear,background-color 15ms linear;transition:opacity 15ms linear,background-color 15ms linear;z-index:1;z-index:var(--mdc-ripple-z-index,1)}.VfPpkd-MPu53c .VfPpkd-OYHm6b::after{z-index:0;z-index:var(--mdc-ripple-z-index,0)}.VfPpkd-MPu53c.VfPpkd-ksKsZd-mWPk3d .VfPpkd-OYHm6b::before{-webkit-transform:scale(var(--mdc-ripple-fg-scale,1));transform:scale(var(--mdc-ripple-fg-scale,1))}.VfPpkd-MPu53c.VfPpkd-ksKsZd-mWPk3d .VfPpkd-OYHm6b::after{top:0;left:0;-webkit-transform:scale(0);transform:scale(0);-webkit-transform-origin:center center;transform-origin:center center}.VfPpkd-MPu53c.VfPpkd-ksKsZd-mWPk3d-OWXEXe-ZNMTqd .VfPpkd-OYHm6b::after{top:var(--mdc-ripple-top,0);left:var(--mdc-ripple-left,0)}.VfPpkd-MPu53c.VfPpkd-ksKsZd-mWPk3d-OWXEXe-Tv8l5d-lJfZMc .VfPpkd-OYHm6b::after{-webkit-animation:mdc-ripple-fg-radius-in 225ms forwards,mdc-ripple-fg-opacity-in 75ms forwards;animation:mdc-ripple-fg-radius-in 225ms forwards,mdc-ripple-fg-opacity-in 75ms forwards}.VfPpkd-MPu53c.VfPpkd-ksKsZd-mWPk3d-OWXEXe-Tv8l5d-OmS1vf .VfPpkd-OYHm6b::after{-webkit-animation:mdc-ripple-fg-opacity-out .15s;animation:mdc-ripple-fg-opacity-out .15s;-webkit-transform:translate(var(--mdc-ripple-fg-translate-end,0)) scale(var(--mdc-ripple-fg-scale,1));transform:translate(var(--mdc-ripple-fg-translate-end,0)) scale(var(--mdc-ripple-fg-scale,1))}.VfPpkd-MPu53c .VfPpkd-OYHm6b::before,.VfPpkd-MPu53c .VfPpkd-OYHm6b::after{top:0;left:0;width:100%;height:100%}.VfPpkd-MPu53c.VfPpkd-ksKsZd-mWPk3d .VfPpkd-OYHm6b::before,.VfPpkd-MPu53c.VfPpkd-ksKsZd-mWPk3d .VfPpkd-OYHm6b::after{top:var(--mdc-ripple-top,0);left:var(--mdc-ripple-left,0);width:var(--mdc-ripple-fg-size,100%);height:var(--mdc-ripple-fg-size,100%)}.VfPpkd-MPu53c.VfPpkd-ksKsZd-mWPk3d .VfPpkd-OYHm6b::after{width:var(--mdc-ripple-fg-size,100%);height:var(--mdc-ripple-fg-size,100%)}.VfPpkd-MPu53c{z-index:0}.VfPpkd-MPu53c .VfPpkd-OYHm6b::before,.VfPpkd-MPu53c .VfPpkd-OYHm6b::after{z-index:-1;z-index:var(--mdc-ripple-z-index,-1)}.VfPpkd-OYHm6b{position:absolute;top:0;left:0;width:100%;height:100%;pointer-events:none}@media (-ms-high-contrast:active),screen and (forced-colors:active){.VfPpkd-MPu53c .VfPpkd-muHVFf-bMcfAe[disabled]:not(:checked):not(:indeterminate):not([data-indeterminate=true])~.VfPpkd-YQoJzd{border-color:GrayText;border-color:var(--mdc-checkbox-disabled-unselected-icon-color,GrayText);background-color:transparent}.VfPpkd-MPu53c .VfPpkd-muHVFf-bMcfAe[disabled]:checked~.VfPpkd-YQoJzd,.VfPpkd-MPu53c .VfPpkd-muHVFf-bMcfAe[disabled]:indeterminate~.VfPpkd-YQoJzd,.VfPpkd-MPu53c .VfPpkd-muHVFf-bMcfAe[data-indeterminate=true][disabled]~.VfPpkd-YQoJzd{border-color:GrayText;background-color:GrayText;background-color:var(--mdc-checkbox-disabled-selected-icon-color,GrayText)}.VfPpkd-MPu53c .VfPpkd-muHVFf-bMcfAe:enabled~.VfPpkd-YQoJzd .VfPpkd-HUofsb{color:ButtonText;color:var(--mdc-checkbox-selected-checkmark-color,ButtonText)}.VfPpkd-MPu53c .VfPpkd-muHVFf-bMcfAe:enabled~.VfPpkd-YQoJzd .VfPpkd-SJnn3d{border-color:ButtonText;border-color:var(--mdc-checkbox-selected-checkmark-color,ButtonText)}.VfPpkd-MPu53c .VfPpkd-muHVFf-bMcfAe:disabled~.VfPpkd-YQoJzd .VfPpkd-HUofsb{color:ButtonFace;color:var(--mdc-checkbox-disabled-selected-checkmark-color,ButtonFace)}.VfPpkd-MPu53c .VfPpkd-muHVFf-bMcfAe:disabled~.VfPpkd-YQoJzd .VfPpkd-SJnn3d{border-color:ButtonFace;border-color:var(--mdc-checkbox-disabled-selected-checkmark-color,ButtonFace)}}
.VfPpkd-MPu53c-OWXEXe-mWPk3d .VfPpkd-HUofsb{opacity:1}.VfPpkd-HUofsb-Jt5cK{-webkit-transition:stroke-dashoffset .18s 0ms cubic-bezier(.4,0,.6,1);transition:stroke-dashoffset .18s 0ms cubic-bezier(.4,0,.6,1);stroke:currentColor;stroke-width:3.12px;stroke-dashoffset:29.7833385;stroke-dasharray:29.7833385}
.Ne8lhe .VfPpkd-muHVFf-bMcfAe[disabled]:not(:checked):not(:indeterminate):not([data-indeterminate=true])~.VfPpkd-YQoJzd{border-color:rgba(60,64,67,.38);border-color:var(--mdc-checkbox-disabled-unselected-icon-color,#3c404361);background-color:transparent}.Ne8lhe .VfPpkd-muHVFf-bMcfAe[disabled]:checked~.VfPpkd-YQoJzd,.Ne8lhe .VfPpkd-muHVFf-bMcfAe[disabled]:indeterminate~.VfPpkd-YQoJzd,.Ne8lhe .VfPpkd-muHVFf-bMcfAe[data-indeterminate=true][disabled]~.VfPpkd-YQoJzd{border-color:transparent;background-color:rgba(60,64,67,.38);background-color:var(--mdc-checkbox-disabled-selected-icon-color,rgba(60,64,67,.38))}.Ne8lhe .VfPpkd-muHVFf-bMcfAe:enabled~.VfPpkd-YQoJzd .VfPpkd-HUofsb{color:#fff;color:var(--mdc-checkbox-selected-checkmark-color,#fff)}.Ne8lhe .VfPpkd-muHVFf-bMcfAe:enabled~.VfPpkd-YQoJzd .VfPpkd-SJnn3d{border-color:#fff;border-color:var(--mdc-checkbox-selected-checkmark-color,#fff)}.Ne8lhe .VfPpkd-muHVFf-bMcfAe:disabled~.VfPpkd-YQoJzd .VfPpkd-HUofsb{color:#fff;color:var(--mdc-checkbox-disabled-selected-checkmark-color,#fff)}.Ne8lhe .VfPpkd-muHVFf-bMcfAe:disabled~.VfPpkd-YQoJzd .VfPpkd-SJnn3d{border-color:#fff;border-color:var(--mdc-checkbox-disabled-selected-checkmark-color,#fff)}.Ne8lhe .VfPpkd-muHVFf-bMcfAe:enabled:not(:checked):not(:indeterminate):not([data-indeterminate=true])~.VfPpkd-YQoJzd{border-color:#5f6368;border-color:var(--mdc-checkbox-unselected-icon-color,#5f6368);background-color:transparent}.Ne8lhe .VfPpkd-muHVFf-bMcfAe:enabled:checked~.VfPpkd-YQoJzd,.Ne8lhe .VfPpkd-muHVFf-bMcfAe:enabled:indeterminate~.VfPpkd-YQoJzd,.Ne8lhe .VfPpkd-muHVFf-bMcfAe[data-indeterminate=true]:enabled~.VfPpkd-YQoJzd{border-color:var(--no-error);border-color:var(--mdc-checkbox-selected-icon-color,var(--no-error));background-color:var(--no-error);background-color:var(--mdc-checkbox-selected-icon-color,var(--no-error))}
.Ne8lhe:hover .VfPpkd-muHVFf-bMcfAe:enabled:not(:checked):not(:indeterminate):not([data-indeterminate=true])~.VfPpkd-YQoJzd{border-color:#202124;border-color:var(--mdc-checkbox-unselected-hover-icon-color,#202124);background-color:transparent}.Ne8lhe:hover .VfPpkd-muHVFf-bMcfAe:enabled:checked~.VfPpkd-YQoJzd,.Ne8lhe:hover .VfPpkd-muHVFf-bMcfAe:enabled:indeterminate~.VfPpkd-YQoJzd,.Ne8lhe:hover .VfPpkd-muHVFf-bMcfAe[data-indeterminate=true]:enabled~.VfPpkd-YQoJzd{border-color:#174ea6;border-color:var(--mdc-checkbox-selected-hover-icon-color,#174ea6);background-color:#174ea6;background-color:var(--mdc-checkbox-selected-hover-icon-color,#174ea6)}
.Ne8lhe .VfPpkd-OYHm6b::before,.Ne8lhe .VfPpkd-OYHm6b::after{background-color:#3c4043;background-color:var(--mdc-checkbox-unselected-hover-state-layer-color,#3c4043)}.Ne8lhe:hover .VfPpkd-OYHm6b::before,.Ne8lhe.VfPpkd-ksKsZd-XxIAqe-OWXEXe-ZmdkE .VfPpkd-OYHm6b::before{opacity:.04;opacity:var(--mdc-checkbox-unselected-hover-state-layer-opacity,.04)}.Ne8lhe.VfPpkd-ksKsZd-mWPk3d-OWXEXe-AHe6Kc-XpnDCe .VfPpkd-OYHm6b::before,.Ne8lhe:not(.VfPpkd-ksKsZd-mWPk3d):focus .VfPpkd-OYHm6b::before{-webkit-transition-duration:75ms;transition-duration:75ms;opacity:.12;opacity:var(--mdc-checkbox-unselected-focus-state-layer-opacity,.12)}.Ne8lhe:not(.VfPpkd-ksKsZd-mWPk3d) .VfPpkd-OYHm6b::after{-webkit-transition:opacity .15s linear;transition:opacity .15s linear}.Ne8lhe:not(.VfPpkd-ksKsZd-mWPk3d):active .VfPpkd-OYHm6b::after{-webkit-transition-duration:75ms;transition-duration:75ms;opacity:.1;opacity:var(--mdc-checkbox-unselected-pressed-state-layer-opacity,.1)}.Ne8lhe.VfPpkd-ksKsZd-mWPk3d{--mdc-ripple-fg-opacity:var(--mdc-checkbox-unselected-pressed-state-layer-opacity,0.1)}@media (-ms-high-contrast:active),screen and (forced-colors:active){.Ne8lhe .VfPpkd-muHVFf-bMcfAe[disabled]:not(:checked):not(:indeterminate):not([data-indeterminate=true])~.VfPpkd-YQoJzd{border-color:GrayText;border-color:var(--mdc-checkbox-disabled-unselected-icon-color,GrayText);background-color:transparent}.Ne8lhe .VfPpkd-muHVFf-bMcfAe[disabled]:checked~.VfPpkd-YQoJzd,.Ne8lhe .VfPpkd-muHVFf-bMcfAe[disabled]:indeterminate~.VfPpkd-YQoJzd,.Ne8lhe .VfPpkd-muHVFf-bMcfAe[data-indeterminate=true][disabled]~.VfPpkd-YQoJzd{border-color:GrayText;background-color:GrayText;background-color:var(--mdc-checkbox-disabled-selected-icon-color,GrayText)}.Ne8lhe .VfPpkd-muHVFf-bMcfAe:enabled~.VfPpkd-YQoJzd .VfPpkd-HUofsb{color:ButtonText;color:var(--mdc-checkbox-selected-checkmark-color,ButtonText)}.Ne8lhe .VfPpkd-muHVFf-bMcfAe:enabled~.VfPpkd-YQoJzd .VfPpkd-SJnn3d{border-color:ButtonText;border-color:var(--mdc-checkbox-selected-checkmark-color,ButtonText)}.Ne8lhe .VfPpkd-muHVFf-bMcfAe:disabled~.VfPpkd-YQoJzd .VfPpkd-HUofsb{color:ButtonFace;color:var(--mdc-checkbox-disabled-selected-checkmark-color,ButtonFace)}.Ne8lhe .VfPpkd-muHVFf-bMcfAe:disabled~.VfPpkd-YQoJzd .VfPpkd-SJnn3d{border-color:ButtonFace;border-color:var(--mdc-checkbox-disabled-selected-checkmark-color,ButtonFace)}}
.VfPpkd-muHVFf-bMcfAe:checked~.VfPpkd-YQoJzd,.VfPpkd-muHVFf-bMcfAe:indeterminate~.VfPpkd-YQoJzd,.VfPpkd-muHVFf-bMcfAe[data-indeterminate=true]~.VfPpkd-YQoJzd{-webkit-transition:border-color 90ms 0ms cubic-bezier(0,0,.2,1),background-color 90ms 0ms cubic-bezier(0,0,.2,1);transition:border-color 90ms 0ms cubic-bezier(0,0,.2,1),background-color 90ms 0ms cubic-bezier(0,0,.2,1)}.VfPpkd-muHVFf-bMcfAe:checked~.VfPpkd-YQoJzd .VfPpkd-HUofsb-Jt5cK,.VfPpkd-muHVFf-bMcfAe:indeterminate~.VfPpkd-YQoJzd .VfPpkd-HUofsb-Jt5cK,.VfPpkd-muHVFf-bMcfAe[data-indeterminate=true]~.VfPpkd-YQoJzd .VfPpkd-HUofsb-Jt5cK{stroke-dashoffset:0}.VfPpkd-muHVFf-bMcfAe{position:absolute;margin:0;padding:0;opacity:0;cursor:inherit}.VfPpkd-muHVFf-bMcfAe:disabled{cursor:default;pointer-events:none}.VfPpkd-muHVFf-bMcfAe:checked~.VfPpkd-YQoJzd .VfPpkd-HUofsb{-webkit-transition:opacity .18s 0ms cubic-bezier(0,0,.2,1),-webkit-transform .18s 0ms cubic-bezier(0,0,.2,1);transition:opacity .18s 0ms cubic-bezier(0,0,.2,1),-webkit-transform .18s 0ms cubic-bezier(0,0,.2,1);transition:opacity .18s 0ms cubic-bezier(0,0,.2,1),transform .18s 0ms cubic-bezier(0,0,.2,1);transition:opacity .18s 0ms cubic-bezier(0,0,.2,1),transform .18s 0ms cubic-bezier(0,0,.2,1),-webkit-transform .18s 0ms cubic-bezier(0,0,.2,1);opacity:1}.VfPpkd-muHVFf-bMcfAe:checked~.VfPpkd-YQoJzd .VfPpkd-SJnn3d{-webkit-transform:scaleX(1) rotate(-45deg);transform:scaleX(1) rotate(-45deg)}.VfPpkd-muHVFf-bMcfAe:indeterminate~.VfPpkd-YQoJzd .VfPpkd-HUofsb,.VfPpkd-muHVFf-bMcfAe[data-indeterminate=true]~.VfPpkd-YQoJzd .VfPpkd-HUofsb{-webkit-transform:rotate(45deg);transform:rotate(45deg);opacity:0;-webkit-transition:opacity 90ms 0ms cubic-bezier(.4,0,.6,1),-webkit-transform 90ms 0ms cubic-bezier(.4,0,.6,1);transition:opacity 90ms 0ms cubic-bezier(.4,0,.6,1),-webkit-transform 90ms 0ms cubic-bezier(.4,0,.6,1);transition:opacity 90ms 0ms cubic-bezier(.4,0,.6,1),transform 90ms 0ms cubic-bezier(.4,0,.6,1);transition:opacity 90ms 0ms cubic-bezier(.4,0,.6,1),transform 90ms 0ms cubic-bezier(.4,0,.6,1),-webkit-transform 90ms 0ms cubic-bezier(.4,0,.6,1)}.VfPpkd-muHVFf-bMcfAe:indeterminate~.VfPpkd-YQoJzd .VfPpkd-SJnn3d,.VfPpkd-muHVFf-bMcfAe[data-indeterminate=true]~.VfPpkd-YQoJzd .VfPpkd-SJnn3d{-webkit-transform:scaleX(1) rotate(0deg);transform:scaleX(1) rotate(0deg);opacity:1}
.VfPpkd-YQoJzd{display:-webkit-inline-box;display:-webkit-inline-flex;display:inline-flex;position:absolute;-webkit-box-align:center;-webkit-align-items:center;align-items:center;-webkit-box-pack:center;-webkit-justify-content:center;justify-content:center;box-sizing:border-box;width:18px;height:18px;border:2px solid currentColor;border-radius:2px;background-color:transparent;pointer-events:none;will-change:background-color,border-color;-webkit-transition:background-color 90ms 0ms cubic-bezier(.4,0,.6,1),border-color 90ms 0ms cubic-bezier(.4,0,.6,1);transition:background-color 90ms 0ms cubic-bezier(.4,0,.6,1),border-color 90ms 0ms cubic-bezier(.4,0,.6,1)}
input[type='checkbox']{
    display: none;
}
.main-checkbox-div{
    display: flex;
    align-items: center;
    justify-content: left;
}
.checkBoxDiv{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
}
.Ne8lhe{
    margin: 0 -8px;
    border-radius: 50%;
}
.checkbox-label{
    cursor: pointer;
    margin-left: 16px;
    font-size: 14px;
    font-weight: 400;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.netErr{
    left: 50%;
    z-index: 2;
    color: #fff;
    bottom: -100px;
    position: fixed;
    user-select: none;
    padding: 15px 25px;
    border-radius: 4px;
    text-align: center;
    visibility: hidden;
    white-space: nowrap;
    transition-delay: 1.5s;
    transition-duration: .4s;
    background-color: #111;
    box-shadow: 0 0 4px #111;
    transform: translate(-50%,-50%);
    transition-property: bottom, visibility;
}
